doctype html
html
	head
		title iTutor
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='assets/css/main.css')
		link(rel='stylesheet', href='assets/css/ie8.css')

	body

		section(id='header')
			header
				img(src='images/logo.png' alt="")
			nav(id='nav')
				ul
					li
						a(href='/') Current Services
						|
						|
					li
						a(href='service_requests') Service Requests
						|
						|
					li
						a(href='history' class="active") History
						|
						|
					li
						a(href='profile') Profile
						|
						|
					li
						a(href='account_settings') Account Settings
						|
						|
					li
						a(href='') Log-out

			footer
				ul(class='icons')
					li
						a(href='#' class='icon fa-twitter')
						span(class='label') Twitter
					li
						a(href='#' class='icon fa-facebook')
						span(class='label') Facebook
					li
						a(href='#' class='icon fa-instagram')
						span(class='label') Instagram
					li
						a(href='#' class='icon fa-github')
						span(class='label') Github
					li
						a(href='#' class='icon fa-envelope')
						span(class='label') Email

		div(id='wrapper')
			div(id='main')
				section(id='one')
					div(class='container')
						header(class='major')
							h2= 'History'
							p
								| Sort by:
								button(onclick='sortTable0()') Request ID
								button(onclick='sortTable1()') Customer Name
								button(onclick='sortTable2()') Service Name
								button(onclick='sortTable3()') Scheduled Time
								button(onclick='sortTable4()') Scheduled Day
								button(onclick='sortTable5()') Payment

						table(id='myTable')
							tr
									th= 'Request ID'
									th= 'Customer Name'
									th= 'Service Name'
									th= 'Scheduled Time'
									th=	'Scheduled Day'
									th= 'Status'
									th= 'Payment'


							for historyServices in historyServicesList
								tr
									td= historyServices.request_id
									td= historyServices.customer_name
									td= historyServices.service_name
									td= historyServices.scheduled_time
									td= historyServices.scheduled_day
									td= historyServices.status
									td= historyServices.Payment


script(src='assets/js/jquery.min.js')
script(src="assets/js/jquery.scrollzer.min.js")
script(src="assets/js/jquery.scrolly.min.js")
script(src="assets/js/skel.min.js")
script(src="assets/js/util.js")
script(src="assets/js/main.js")
script(src="assets/js/sort_table_history.js")